{% extends 'base/base.html' %}

{% block content %}

<div class="pagination">
  <span class="step-links">
    {% if kickstarters.has_previous %}
      <a href="?page=1">&laquo; first</a>
      <a href="?page={{ kickstarters.previous_page_number }}">previous</a>
    {% endif %}

    <span class="current">
      Page {{ kickstarters.number }} of {{ kickstarters.paginator.num_pages }}.
    </span>

    {% if kickstarters.has_next %}
      <a href="?page={{ kickstarters.next_page_number }}">next</a>
      <a href="?page={{ kickstarters.paginator.num_pages }}">last &raquo;</a>
    {% endif %}
  </span>
</div>


  <h2>Welcome to the site! Check out these kickstarters!</h2>

  {% for kickstarter in kickstarters %}
    <a href="{% url "kickstarter_details" pk=kickstarter.id %}">
      <h2>Name: {{ kickstarter.name }}</h2>
      <h3>${{ kickstarter.usd_pledged }}</h3>
      <p>pledged of ${{ kickstarter.usd_goal_real }}</p>
    </a>
  {% endfor %}
{% endblock content %}
