{% extends 'base/base.html' %}

{% block content %}

<div class="pagination">
  <span class="step-links">
    {% if curr_page != '1' %}
      <a href="?page=1">&laquo; first</a>
      <a href="?page={{ prev_page }}">previous</a>
    {% endif %}

    <span class="current">
      Page {{ curr_page }} of {{ num_pages }}.
    </span>

    {% if curr_page != num_pages %}
      <a href="?page={{ next_page }}">next</a>
      <a href="?page={{ num_pages }}">last &raquo;</a>
    {% endif %}
  </span>
</div>


  <h2>Welcome to the site! Check out these kickstarters!</h2>

  {% for kickstarter in kickstarters %}
    <a href="{% url "kickstarter_details" pk=kickstarter.id %}">
      <h2>Name: {{ kickstarter.name }}</h2>
      <h3>${{ kickstarter.usd_pledged }}</h3>
      <p>pledged of ${{ kickstarter.usd_goal_real }}</p>
    </a>
  {% endfor %}
{% endblock content %}
