@import "vars";


// content
html, body {
    position: relative;
    background-color: $color-offwhite;
}
head, script, link  { display: none; }
p { display: inline-block; }
span,em,strong { display: inline; }
em { font-style: italic; }
strong { font-weight: bold; }

body {
  background: $color-offwhite;
  // seting the size of ems on the page
  font-size: 16px;
}

header {
    background-color: $color-darkgreen;
    width:100%;
    height: 130px;
    border-bottom: rgb(63,66,63) 1.5px solid;
    box-shadow: 0px 3px 5px rgba(100, 100, 100, 0.49);
    margin: 0 auto;
}

header h1 {
    height: 130px;
    line-height: 130px;
    float:left;
    margin: 0 auto;
    // margin-left: 120px;
    font-size: 60px;
    font-weight: 700;
    text-align: center;
    color: $color-offwhite;
}

nav {
    opacity: 1;
    height: 130px;
    line-height: 130px;
    float: right;
    width:50px;
}

.pagination {
    text-align: center;
    margin: 20px;
    a {
        display: inline;
    }

    .current {
        display: inline;
    }
}

.kickstarter_list {
    list-style: none;
    text-align: center;

}

.kickstarter_campaign {
    background-color: antiquewhite;
    border: black 1px solid;
    box-shadow: 1px 1px rgb(63,66,63);
    border-radius: 5px;
    margin: 0 auto;
    margin-bottom: 15px;
    list-style: none;
    padding: 10px;
    width: 50%;
    h2 {
        font-size: 30px;
        font-weight: 700;
        display: inline;
    }

    h3 {
        display: inline;
        font-size: 20px;
        color: $color-kickstarter;
    }

    p {
        display: inline;
        font-size: 15px;
        color: rgb(97, 96, 96);
    }
}

.hide { display: none; }

table {
    background-color: antiquewhite;
    margin: 0 auto;
    margin-top: 30px;
    width: 500px;

}

tr {
    width: 100%;
}

td, th {
    background-color: antiquewhite;
    border: black 1px solid;
    text-align: left;
    padding: 8px;
    width: 50%;
    display: inline-block;
    float: left;
}

th {
    font-weight: 700;
}

.detail_title {
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    margin-top: 30px;
}
